.freaky-footer {
  background-color: $gray-200;
  padding: 8px;
  max-height: 44px;
  font-size: 0.8em;
}
.freaky-banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #000;
  overflow: hidden;
}

.freaky-banner img {
  position: absolute;
}

.freaky-navbar-nav {
  @extend .navbar-nav;
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-items-center;
  @extend .justify-content-center;
  span {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-self-center;
    @extend .justify-content-center;
    color: $gray-600;
  }
}
.freaky-nav-item {
  @extend .nav-item;
  @extend .mx-1;
  &:hover {
    background-color: $gray-900;
    @extend .rounded;
  }
}
.link-group {
  background-color: $secondary;
}
.link-container {
  min-width: 32px;
}
.link-name {
  font-size: 0.8rem;
}
