[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = FreakOS Website lives here :)
[access "refs/*"]
	owner = group user/niteshkumar2000
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/niteshkumar2000
	label-Verified = -1..+1 group user/niteshkumar2000
	push = group user/niteshkumar2000
	read = group user/niteshkumar2000
	rebase = group user/niteshkumar2000
	removeReviewer = group user/niteshkumar2000
	submit = group user/niteshkumar2000
[access "refs/heads/*"]
	create = group user/niteshkumar2000
	push = +force group user/niteshkumar2000
	pushMerge = group user/niteshkumar2000
	read = group user/niteshkumar2000
[access "refs/tags/*"]
	push = group user/niteshkumar2000
	push = +force group user/niteshkumar2000
