  
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

$primary: #00F801;
$body-bg: black;
$body-color: white;

$border-width: 1px;
$border-color: $primary ;
$border-radius: 0px ;

$theme-colors: (
  "primary": $primary
);

// Card
$card-color:                        $body-color ;
$card-bg:                           $body-bg ;

// Modal
// $modal-content-color:               $primary ;
$modal-content-bg:                  $body-bg ;

.box{
  &:hover {
    background-color: rgb(22, 22, 22);
    border-color: darken($primary,30%);
  }
}

tr{
  &:hover {
    background-color: rgb(22, 22, 22);
  }
}

@import "~bootstrap/scss/bootstrap";